@use "base";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  background: base.$very-pale-blue url("../../images/bg-pattern.svg") top
    no-repeat;
  background-size: contain;
  color: base.$grayish-blue;
}

.main-wrapper {
  border: 1px solid black;
  max-height: 90vh;
  width: 45rem;
  padding: 2rem;

  .header {
    background: url("../../images/pattern-circles.svg") center no-repeat;
    background-size: contain;
    text-align: center;
    padding-block: 2rem;
    margin-block-end: 2rem;

    h1 {
      color: base.$dark-desaturated-blue;
      margin-block-end: 1rem;
    }
  }

  .content-wrapper {
    background-color: base.$white;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.1rem 0.6rem 0.6rem base.$very-light-grayish-blue;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 2rem;

      #views {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }

      #price {
        font-size: 2rem;
        font-weight: base.$fw-bolder;
        color: base.$dark-desaturated-blue;
      }

      .discount {
        font-size: base.$text;
        color: base.$light-red;
        background-color: base.$light-grayish-red;
      }
    }

    .slider-wrapper {
      width: 100%;
      display: flex;
      padding-block: 1.5rem;
      align-items: center;
      position: relative;
      overflow: hidden;

      .slider {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 1rem;
        height: 0.6rem;
        background: linear-gradient(
          to right,
          base.$soft-cyan 0%,
          base.$soft-cyan 50%,
          base.$very-light-grayish-blue 0%,
          base.$very-light-grayish-blue 100%
        );
        cursor: pointer;
      }

      .slider::-webkit-slider-thumb:active {
        cursor: grabbing;
        opacity: 1;
      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background: base.$strong-cyan url("../../images/icon-slider.svg") center
          no-repeat;
        -webkit-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
        -moz-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
        box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
      }

      .slider::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background: base.$strong-cyan url("../../images/icon-slider.svg") center
          no-repeat;
        -webkit-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
        -moz-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
        box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
      }
    }
  }

  .cta-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    font-size: base.$text;

    .cta-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      padding-block: 1rem;

      span {
        display: inherit;
        align-items: center;
        gap: 1rem;

        img {
          height: 0.5rem;
          width: 0.5rem;
        }
      }
    }

    .cta-button {
      color: base.$very-light-grayish-blue;
      background-color: base.$dark-desaturated-blue;
      padding: 1rem 0.5rem;
      border-radius: 1rem;
    }
  }
}
