@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  background: hsl(230, 100%, 99%) url("../../images/bg-pattern.svg") top no-repeat;
  background-size: contain;
  color: hsl(225, 20%, 60%);
}

.main-wrapper {
  border: 1px solid black;
  max-height: 90vh;
  width: 45rem;
  padding: 2rem;
}
.main-wrapper .header {
  background: url("../../images/pattern-circles.svg") center no-repeat;
  background-size: contain;
  text-align: center;
  padding-block: 2rem;
  margin-block-end: 2rem;
}
.main-wrapper .header h1 {
  color: hsl(227, 35%, 25%);
  margin-block-end: 1rem;
}
.main-wrapper .content-wrapper {
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.1rem 0.6rem 0.6rem hsl(224, 65%, 95%);
}
.main-wrapper .content-wrapper .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}
.main-wrapper .content-wrapper .content #views {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.main-wrapper .content-wrapper .content #price {
  font-size: 2rem;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}
.main-wrapper .content-wrapper .content .discount {
  font-size: 15px;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
}
.main-wrapper .content-wrapper .slider-wrapper {
  width: 100%;
  display: flex;
  padding-block: 1.5rem;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.main-wrapper .content-wrapper .slider-wrapper .slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  height: 0.6rem;
  background: linear-gradient(to right, hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 0%, hsl(224, 65%, 95%) 100%);
  cursor: pointer;
}
.main-wrapper .content-wrapper .slider-wrapper .slider::-webkit-slider-thumb:active {
  cursor: grabbing;
  opacity: 1;
}
.main-wrapper .content-wrapper .slider-wrapper .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: hsl(174, 86%, 45%) url("../../images/icon-slider.svg") center no-repeat;
  -webkit-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
  -moz-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
  box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
}
.main-wrapper .content-wrapper .slider-wrapper .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: hsl(174, 86%, 45%) url("../../images/icon-slider.svg") center no-repeat;
  -webkit-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
  -moz-box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
  box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(16, 213, 194, 0.2);
}
.main-wrapper .cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  font-size: 15px;
}
.main-wrapper .cta-wrapper .cta-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-block: 1rem;
}
.main-wrapper .cta-wrapper .cta-content span {
  display: inherit;
  align-items: center;
  gap: 1rem;
}
.main-wrapper .cta-wrapper .cta-content span img {
  height: 0.5rem;
  width: 0.5rem;
}
.main-wrapper .cta-wrapper .cta-button {
  color: hsl(224, 65%, 95%);
  background-color: hsl(227, 35%, 25%);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
}

/*# sourceMappingURL=styles.css.map */
